<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div action={{ path('app_login')}}>
        <h2>Login</h2>
        <form id="login-form">
            <input type="text" name="email" id="email" placeholder="Email">
            <input type="password" name="password" id="password" placeholder="Password">
            <button name="submit" type="submit">Login</button>
        </form>

        <br>
        <form action="{{ path('app_register') }}" >
            <button type="submit" value="register">Register</button>
        </form>
    </div>

        <div>
            <h2>Available Trips</h2>
            <ul>
                {% for trip in address %}
                     <li>
                    <strong>Date:</strong> {{ trip.date }} <br>
                    <strong>Time:</strong> {{ trip.time }} <br>
                    <strong>Seats Available:</strong> {{ trip.seatsAvailable }} <br>
                    <strong>Seats Occupied:</strong> {{ trip.seatsOccupied }} <br>
                    <strong>Price:</strong> {{ trip.price }} <br>
                    <strong>Debut Ville:</strong> {{ trip.debutVille }} <br>
                    <strong>Debut Rue:</strong> {{ trip.debutRue }} <br>
                    <strong>Destination Ville:</strong> {{ trip.destinationVille }} <br>
                    <strong>Destination Rue:</strong> {{ trip.destinationRue }} <br>
                </li>
                {% else %}
                    <li>No trips available.</li>
                {% endfor %}
        </ul>
    </div>
    {# Dump variables in Twig template #}
            {{ dump(userinfo) }}

</body>
</html>
