<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="header">
        
    </div>
    <div class="profile-page">
        <div class="profile-header">
            <img src="{{ asset('profile-large.jpg') }}" alt="Profile Picture">
            <div class="profile-info">
                <h2>{{ userinfo.Firstname }} {{ userinfo.Lastname }}</h2>
                <p><strong>Gender:</strong> {{ userinfo.Gender }}</p>
                <p><strong>CanDrive:</strong> {{ userinfo.DriverLicense }}</p>
                
            </div>
        </div>
        <div class="profile-content">
            <h3>Posts Created</h3>
            {% for trip in tripcreated %}
                <div class="post">
                    <ul>
                        <li>
                            <strong>Date:</strong> {{ trip.date|date('Y-m-d') }} <br>
                            <strong>Time:</strong> {{ trip.time|date('H:i:s') }} <br>
                            <strong>Seats Available:</strong> {{ trip.seatsAvailable }} <br>
                            <strong>Seats Occupied:</strong> {{ trip.seatsOccupied }} <br>
                            <strong>Price:</strong> {{ trip.price }} <br>
                            <strong>Debut Ville:</strong> {{ trip.debutVille }} <br>
                            <strong>Debut Rue:</strong> {{ trip.debutRue }} <br>
                            <strong>Destination Ville:</strong> {{ trip.destinationVille }} <br>
                            <strong>Destination Rue:</strong> {{ trip.destinationRue }} <br>
                        </li>
                    </ul>
                </div>
            {% else %}
                <p>No posts created.</p>
            {% endfor %}
            
            <h3>Posts Joined</h3>
            {% for trip in tripjoined %}
                <div class="post">
                    <ul>
                        <li>
                            <strong>Date:</strong> {{ trip.date|date('Y-m-d') }} <br>
                            <strong>Time:</strong> {{ trip.time|date('H:i:s') }} <br>
                            <strong>Seats Available:</strong> {{ trip.seatsAvailable }} <br>
                            <strong>Seats Occupied:</strong> {{ trip.seatsOccupied }} <br>
                            <strong>Price:</strong> {{ trip.price }} <br>
                            <strong>Debut Ville:</strong> {{ trip.debutVille }} <br>
                            <strong>Debut Rue:</strong> {{ trip.debutRue }} <br>
                            <strong>Destination Ville:</strong> {{ trip.destinationVille }} <br>
                            <strong>Destination Rue:</strong> {{ trip.destinationRue }} <br>
                        </li>
                    </ul>
                </div>
            {% else %}
                <p>No posts joined.</p>
            {% endfor %}
        </div>
        <h3>Comments</h3>
            {% for comment in comments %}
                <div class="post">
                    <ul>
                        <li>
                            <strong>name:</strong> {{ comment.commentername}} <br>
                            <strong>lastname:</strong> {{ comment.commenterLastname }} <br>
                            <strong>stars:</strong> {{ comment.Stars }} <br>
                            <strong>comment:</strong> {{ comment.Description }} <br>
                        </li>
                    </ul>
                </div>
            {% else %}
                <p>No Comment Posted.</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>
